#about {
    padding-top: 4.725%;
    cursor:default;
    color: black;
    padding-bottom: 8%;
}

#picture {
    width: 18rem;
    border-radius: 50%;
    box-shadow: inset 3px 3px 6px 3px #555555;
}

.album {
    background-color: white;
    width: 19rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 6px 3px #555555;
}

.contents {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 1.5rem;
}

#saying {
    font-size: 30px;
    margin-right: 20rem;
    line-height: 33px;
}

#saying .emp {
    color: #1c64ff;
    font-weight: bolder;
}

#gitPlants {
    background-color: #bcbcff;
    padding: 1.5rem;
    border-radius: 1rem;
    transition: 0.5s;
    width: fit-content;
    box-shadow: 3px 3px 6px 3px #555555;
}

#gitPlants:hover {
    transform: scale(1.1);
}

.subContents {
    display: flex;
    font-size: 18px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.selfIntro {
    background-color: #bcbcff;
    padding: 1.55rem;
    text-align: left;
    margin-top: 3rem;
    border-radius: 1rem;
    box-shadow: 3px 3px 6px 3px #555555;
    transition: 0.5s;
    width: 23rem;
    line-height: 24px;
}

.selfIntro:hover {
    transform: scale(1.1);
}

.selfIntro label {
    font-weight: bold;
    color: #1c64ff;
}