@font-face {
    font-family: 'HakgyoansimBunpilR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimBunpilR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#contact {
    cursor:default;
    padding-top: 4.725%;
    padding-bottom: 8%;
    color: ghostwhite;
}

#board1 {
    background: url("/public/img/6464359.jpg");
    border-radius: 2rem;
    height: 50rem;
    width:80% ;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    filter: brightness(1.5);
    position: relative;
}

#board2 {
    background: #754314;
    width: 95%;
    height: 90%;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-family: "HakgyoansimBunpilR";
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    filter: brightness(0.7);
}

.contactBoard{
    font-size: xx-large;
}

.contactBoard a{
    color: ghostwhite;
    text-decoration-line: none;
}

.contactBoard a:hover{
    color: lightgray;
}

.contactBoard a:active{
    color: gray;
}

#board {
    display: flex;
    justify-content: center;
}

