#projects {
    cursor:default;
    padding-top: 4.725%;
    padding-bottom: 8%;
}

.projectList {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.project {
    background-color: white;
    border: solid 1rem rgb(97, 171, 255);
    width: 82rem;
    min-height: 40rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    border-radius: 2rem;
    margin-bottom: 1rem;
    font-family: 'TheJamsil5Bold';
}

.mainImg {
    width: 24rem;
    height: 24rem;
    border-radius: 2rem;
}

.description {
    padding: 2rem;
}

.refImg {
    width: 25rem;
    margin: 1rem;
    margin-bottom: 0rem;
    transition: 0.5s;
}

.refImg:hover {
    transform: scale(2.2);
}

.prSubTitle {
    font-size: x-large;
    color: darkgrey;
}

.prTitle {
    font-size: xx-large;
    font-weight: bold;
}

.swiper-slide.swiper-slide-active {
    display: flex;
    justify-content: center;
}

.description {
    width: -webkit-fill-available;
}

.project h4 {
    font-size: larger;
}

.project p {
    font-size: large;
}