#skills {
    color: white;
    padding-top: 4.725%;
    padding-bottom: 8%;
}

#skillTree {
    background-color: #a86323;
    width: 68rem;
    height: fit-content;
    border-radius: 2rem;
    padding: 3rem;
    position: relative;
    left: 21%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.skillTable {
    background-color: #754314;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 2rem;
    width: 68rem;
    height: fit-content;
    align-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.skill {
    margin: 1rem;
    text-align: center;
    width: 13.5rem;
    height: 13.5rem;
    background-color: white;
    border-radius: 50%;
    border: slateblue solid 0.5rem;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
    z-index: 3;
}

.skill label {
    font-weight: bolder;
    font-size: larger;
}

.skill:hover {
    transform: scale(1.1);
}

#coffee {
    position: absolute;
    z-index: 2;
    width: 30rem;
    bottom: -3rem;
    left: -18rem;
}