footer {
    padding: 2rem;
    background-color: darkcyan;
    color: white;
    position: relative;
    bottom: 0rem;
    height: 2rem;
    text-align: right;
    font-weight: bold;
    font-size: large;
}