footer {
    padding: 2rem;
    background: url("/public/img/texture-of-wooden-boards_180deg.jpg");
    color: white;
    position: relative;
    bottom: 0rem;
    height: 2rem;
    text-align: center;
    font-weight: bold;
    font-size: large;
    cursor: default;
    font-size: large;
}