@font-face {
    font-family: 'Cafe24ClassicType-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Cafe24ClassicType-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

header {
    position: fixed;
    background: url("/public/img/texture-of-wooden-boards.jpg");
    width: 100%;
    height: 9%;
    z-index: 10;
}

#yuhwan:hover {
    color: purple;
}

.title {
    color: white;
    position: absolute;
    left: 9.25%;
    height: 100%;
}

.title button {
    height: 100%;
    width: 150%;
    background-color: rgba(0,0,0,0);
    border: solid rgba(0, 0, 0, 0);
    cursor: pointer;
    color: black;
    font-size: xx-large;
    font-weight: bold;
    transition: 0.3s;
    font-family: 'Cafe24ClassicType-Regular';
}

.title button:hover {
    transform: scaleY(1.5);
}

.buttonList {
    position: absolute;
    right: 9.25%;
    height: 100%;
}


.button {
    width: 6rem;
    height: 100%;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    color: white;
    border: solid rgba(0,0,0,0) 0.1rem;
    transition: 0.3s;
    font-family: 'Cafe24ClassicType-Regular';
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.26);
    color: white;
}

.button:active {
    background-color: white;
    color: black;
}